* {
    box-sizing: border-box;
}

navbar {
    font-family: Arial;
}

body {
    margin: 0;
    font-weight: 500;
    font-family: 'HelveticaNeue';
    background-color: black;
}

section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: table;
    margin: 0;
    max-width: none;
    background-color: black;
    height: 100vh;
    &:nth-of-type(2n)

{
    background-color: #FE4B74;
}

}

.Home {
    height: 90vh;
}

.form-group {
    margin-bottom:0px !important;
}

select.form-control {
    margin-bottom: 10px;
}

.btn{
    font-family:Arial;
}

div.row {
    border: 3px solid;
    border-color: white;
}

div.col {
    text-align: center;
    border: 2px solid;
    border-color: white;
    margin-bottom: 10px;
 
}

col-center-block table-bordered .content {
    display: table-cell;
    vertical-align: middle;
    border-color: whitesmoke;
    margin-bottom: 10px;
}

h1 {
    font-size: 15em;
    display: block;
    margin-bottom: -45px;
    color: white;
    font-weight: 400;
    font-family: 'SF TransRobotics';
}

h3 {
    font-size: 7em;
    display: block;
    color: white;
    font-weight: 400;
    font-family: 'SF TransRobotics';
    padding-top: 50px;
}

h4 {
    font-size: 2em;
    display: block;
    color: white;
    font-weight: 200;
    font-family: Arial;
}

span {
    font-size: 1em;
    display: block;
    color: white;
    font-weight: 200;
    font-family: Arial;
}

h5 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 400;
    font-family: 'Segoe UI';
}

label {
    font-size: 0,5em;
    display: block;
    color: white;
    font-weight: 400;
    font-family: Arial;
}

span {
    font-family: Arial;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    font-family: Arial;
}

}

a {
    font-weight: 700;
    color: white;
    position: relative;
    &:hover

{
    opacity: 0.8;
}

&:active {
    top: 1px;
}

}

footer {
    padding: 1% 5%;
    text-align: center;
    background-color: white;
    color: black;
    a

{
    color: white;
    font-weight: 500;
    text-decoration: none;
}
}
